// Start Section
section#start
  .start.container
    div
      h1
        | Hello.
        span
      h1
        | My name is
        span
      h1
        | Cristina
        span
      a.cta(href='#', type='button') Portofolio
// End Section