h1.section-title Projects
main#accordion
  section#item1
    a(class='item' href='#item1')
      h1 First Project
      h2 Talk is cheap. Show me the code.
      p
        | Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        | Nemo qui, molestiae voluptatem sapiente ipsa autem quasi nihil a eaque fugiat maiores dolore consectetur sint esse quas,
        | assumenda atque ducimus veritatis.
  section#item2
    a(class='item' href='#item2')
      h1 Second Project
      h2 Talk is cheap. Show me the code.
      p
        | Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        | Nemo qui, molestiae voluptatem sapiente ipsa autem quasi nihil a eaque fugiat maiores dolore consectetur sint esse quas,
        | assumenda atque ducimus veritatis.
  section#item3
    a(class='item' href='#item3')
      h1 Third Project
      h2 Talk is cheap. Show me the code.
      p
        | Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        | Nemo qui, molestiae voluptatem sapiente ipsa autem quasi nihil a eaque fugiat maiores dolore consectetur sint esse quas,
        | assumenda atque ducimus veritatis.
  section#item4
    a(class='item' href='#item4')
      h1 Forth Project
      h2 Talk is cheap. Show me the code.
      p
        | Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        | Nemo qui, molestiae voluptatem sapiente ipsa autem quasi nihil a eaque fugiat maiores dolore consectetur sint esse quas,
        | assumenda atque ducimus veritatis.
