
.item{
    padding:30px;
    flex-basis: 80%;
    height:30%;
    display:flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-color:#0099ff;
    color:white;
    margin-bottom: 20px;
    width: 80%;
    border-radius: 20px;
    margin: 10px 10%;
    position: relative;
}

// #item2{
//     padding:30px;
//     flex-basis: 50%;
//     height:30%;
//     display:flex;
//     align-items: flex-start;
//     justify-content: center;
//     flex-direction: column;
//     background-color:#0099ff;
//     color:white;
//     margin-bottom: 20px;
//     width: 100%;
//     border-radius: 20px;
// }
// #item3{
//     padding:30px;
//     flex-basis: 50%;
//     height:30%;
//     display:flex;
//     align-items: flex-start;
//     justify-content: center;
//     flex-direction: column;
//     background-color:#0099ff;
//     color:white;
//     margin-bottom: 20px;
//     width: 100%;
//     border-radius: 20px;
// }
// #item4{
//     padding:30px;
//     flex-basis: 50%;
//     height:30%;
//     display:flex;
//     align-items: flex-start;
//     justify-content: center;
//     flex-direction: column;
//     background-color:#0099ff;
//     color:white;
//     margin-bottom: 20px;
//     width: 100%;
//     border-radius: 20px;
// }

#accordion h1{
    color:black;
    font-size:4rem;
    font-weight: 500;
}
#accordion h2{
    color: rgb(97, 96, 96);
    font-size:1.8rem;
    font-weight: 500;
    margin-top: 10px;
}

#accordion section p{
    display: none;
}
#accordion section a:hover{
    text-decoration: none;
}
#accordion section:target p{
    display: block;
}
