#contact
    .contact-container
        h1.section-title Contact
    .contact-items
        .items.icons
            img(src='./asset/image/adress.png' class='adress')
            img(src='./asset/image/email.png' class='adress')
            img(src='./asset/image/phone.png' class='adress')
            img(src='./asset/image/instagram.png' class='adress')
