// Skills Section
section#skills
  .skills.container
    .skills-top
      h1.section-title Skills
      p
        | Ensuring user experience determines design choices.
        | Developing features to enhance the user experience.
        | Striking a balance between functional and aesthetic design.
        | Ensuring web design is optimized for smartphones.
    .skills-bottom
      .skills-item
        h2 Html
        p
          | Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          | Commodi harum nihil voluptate aperiam ea eveniet corporis adipisci alias,
          | error ducimus totam rem vel! Harum provident qui a sunt quis consectetur!
      .skills-item
        h2 Css
        p
          | Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          | Commodi harum nihil voluptate aperiam ea eveniet corporis adipisci alias,
          | error ducimus totam rem vel! Harum provident qui a sunt quis consectetur!
      .skills-item
        h2 Javascript
        p
          | Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          | Commodi harum nihil voluptate aperiam ea eveniet corporis adipisci alias,
          | error ducimus totam rem vel! Harum provident qui a sunt quis consectetur!
      .skills-item
        h2 Debugging
        p
          | Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          | Commodi harum nihil voluptate aperiam ea eveniet corporis adipisci alias,
          | error ducimus totam rem vel! Harum provident qui a sunt quis consectetur!
// End Skills Section