section#about
  .about.container
    .col-left
      .about-img
        img(src='./asset/image/4.jpg')
    .col-right
      h1.section-title
        | About Me
        h2 Front Web Developer
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit vitae minus fuga eius repellat autem fugit libero officia iste est quasi quidem vel ducimus laudantium similique facilis, architecto veritatis expedita!
        a(href='#' class="cta") Download cv
  